#content{
    padding: 20px;
}

div#drag .drag {
    width: 130px;
    height: 130px;
    margin: 2px;
    float:left;
    border: 1px #ababab solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    border-radius: 3px;
    padding: 5px;
    word-wrap: break-word;
    background-color: #f8f8f8;
}

div#drag .drag.drag-type {
    padding-top: 60px;
    padding-left: 40px;
}


div#drag .drag .d-header{
    width: 100%; 
    height: 10%; 
}

div#drag .drag .d-header .d-header-left{
    width: 50%; 
    height: 100%; 
    float: left; 
    text-align:left;
    font-size: 12px;
}

div#drag .drag .d-header .d-header-left span{
    display: block;
    height: 100%;
}

div#drag .drag .d-header .d-header-right{
    width: 50%; 
    height: 100%; 
    float: left; 
    text-align:right;
    font-size: 12px;
}

div#drag .drag .d-data{
   width: 100%; 
   height: 70%; 
   padding-top: 20px; 
   font-size: 11px;
}

div#drag .drag .d-footer{
    padding-top: 7px; 
    width: 100%; 
    height: 13%; 
}

div#drag .drag .d-footer .d-footer-left{
    width: 60%; 
    height: 110%; 
    float: left; 
    text-align:left;
    font-size: 9px;
    overflow: hidden; 
    text-overflow: ellipsis;
}

div#drag .drag .d-footer .d-footer-right{
    width: 40%; 
    height: 100%; 
    float: left; 
    text-align:right;
    margin-top: -1px;
    font-size: 10px;
}


/* row handler TD background color */
div#drag .rowhandler-type {
    /*background-color: #f5f5f5;*/
    min-height: 130px;
}