{% load i18n %}
{% load staticfiles %}
{% load tasks_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keyword" content="">

        {% block css_extra %} 
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
        <link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/tasks.css' %}" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        <div id="content">
            
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="{{bugzilla_url}}"><i class="fa fa-bug"></i> {{bugzilla_url}}</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li {% block 'report' %}{% endblock %}><a href="{% url 'report' %}"><i class="fa fa-file"></i> {% trans 'Reports' %}</a></li>
                            <li {% block 'tasks-board' %}{% endblock %}><a href="{% url 'tasks-board' %}"><i class="fa fa-check-square"></i> {% trans 'Task board' %}</a></li>
                            <li {% block 'planning-board' %}{% endblock %}><a href="{% url 'planning-board' %}"><i class="fa fa-calendar"></i> {% trans 'Planning board' %}</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                  <input type="text" name="search" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> {% trans 'Search' %}</button>
                            </form>
                            <li><a href="{% url 'admin:login' %}">{% trans 'Login' %}</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            {% block content %}
            {% endblock %}  
        </div>

        {% block js_extra %} 
        <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui-1.9.2.custom.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/select2.min.js' %}"></script>
        <script src="{% static 'js/underscore.js' %}"></script>
        <script src="{% static 'js/backbone.js' %}"></script>
        <script src="{% static 'js/redips-drag-min.js' %}"></script>
        <script type="text/javascript">
            $('select').select2();
        </script>
        {% endblock %}

    </body>
</html>
