{% load i18n %}
{% load staticfiles %}
{% load tasks_tags %}

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div id="drag">
            <div class="row">

            <!-- right container -->
            <div class="col-lg-6">
                <div class="panel-group" id="accordion_tasks">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="pull-left">
                                            {% trans 'Backlog' %} 
                                        </div>
                                        <div class="pull-right" style="text-align:right">
                                            <i class="fa fa-clock-o"></i>  <span class="sum_sp">{{backlog_tasks|get_time}}</span> &nbsp;&nbsp;
                                            <a data-toggle="collapse" data-parent="#accordion_tasks" href="#collapse_data_tasks" >
                                                <i class="fa fa-sort"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </h5>
                        </div>
                        <div id="collapse_data_tasks" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table table-bordered" id="tasks">
                                    <tbody>
                                        {% for task in backlog_tasks %}
                                        <tr id="{{task.task_id}}">
                                            <td class="rowhandler">
                                                <div class="drag row" id="drag_{{task.task_id}}" style="border-color:{{task.get_color}};">
                                                    <div class="task-description">
                                                        <span style="{% if task.is_closed %}text-decoration: line-through;{% endif %}"><a href="{{task.get_tracker_url}}"><i class="fa fa-pencil-square-o"></i>{{task.task_id}}</a> - {{task.get_short_summary}}</span>
                                                        <span style="float:right;"><i class="fa fa-clock-o"></i> {{task.estimated_time}} ({{task.actual_time}})</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12 pull-right"  style="text-align:right">
                                        <a class="btn btn-success btn-sm" href="{{bugzilla_url}}/enter_bug.cgi">
                                            <i class="fa fa-plus-square"></i> {% trans 'create task' %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- right container -->

            <!-- left container -->
            <div class="col-lg-6">
                {% for milestone in milestones %}
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="pull-left">
                                            {% trans "Milestone" %} <a href="#">{{milestone}}</a>
                                        </div>
                                        <div class="pull-right" style="text-align:right">
                                            <i class="fa fa-clock-o"></i>  <span class="sum_sp">{{tasks|get_milestone_time:milestone}}</span> &nbsp;&nbsp;
                                            <a data-toggle="collapse" data-parent="#accordion_{{milestone}}" href="#collapse_data_{{milestone|get_hash}}" >
                                            <i class="fa fa-sort"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </h5>
                        </div>
                        <div id="collapse_data_{{milestone|get_hash}}" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table table-bordered" id="{{milestone|get_hash}}">
                                    <tbody>
                                        {% for task in tasks|filter_milestone:milestone %}
                                        <tr id="{{task.task_id}}">
                                            <td class="rowhandler">
                                                <div class="drag row" id="drag_{{task.task_id}}" style="border-color:{{task.get_color}};">
                                                    <div class="task-description">
                                                        <span style="{% if task.is_closed %}text-decoration: line-through;{% endif %}"><a href="{{task.get_tracker_url}}"><i class="fa fa-pencil-square-o"></i>{{task.task_id}}</a> - {{task.get_short_summary}}</span>
                                                        <span style="float:right;"><i class="fa fa-clock-o"></i> {{task.estimated_time}} ({{task.actual_time}})</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div><!-- left container -->
            
            </div>
        </div><!-- drag container -->

    </div>
    <!-- /.col-lg-12 -->
</div>