{% load i18n %}
{% load staticfiles %}
{% load tasks_tags %}

<div id="drag" class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="mark">Year</th>
                <th class="mark">Week</th>
                <th class="mark">Assigned to Full name</th>
                <th class="mark">Area</th>
                <th class="mark">U</th>
                <th class="mark">Spent Hours</th>
                <th class="mark">Progress Status</th>
                <th class="mark">Feature</th>
                <th class="mark">Bug ID</th>
                <th class="mark">Ticket Type</th>
                <th class="mark">Status</th>
                <th class="mark">Title</th>
                <th class="mark">Priority</th>
                <th class="mark">Severity</th>
                <th class="mark">Customer</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{task.get_year}}</td>
                <td>{{task.get_week}}</td>
                <td>{{task.assigned_to}}</td>
                <td>{{task.area}}</td>
                <td>{{task.get_u}}</td>
                <td>{{task.get_spent_hours}}</td>
                <td>{{task.get_progress_status}}</td>
                <td>{{task.get_feature}}</td>
                <td><a href="{{task.get_tracker_url}}">{{task.task_id}}</a></td>
                <td>{{task.task_type}}</td>
                <td>{{task.task_status}}</td>
                <td>{{task.summary}}</td>
                <td>{{task.priority}}</td>
                <td>{{task.severity}}</td>
                <td>{{task.customer}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>