{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load tasks_tags %}


{% block 'report' %}class="active"{% endblock %}


{% block content %}
<br>
<div class="row">
    <form method="GET" action="{% url 'report-json' %}" id="report_id">
        <div class="col-lg-4">
            <h4><i class="fa fa-filter"></i> {% trans 'Filter' %} <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i></button></h4>

            <table class="table table-bordered">
                <colgroup>
                    {% for field in report_filter_form.fields %}
                    <col width="{{report_filter_form.fields|tasks_table_col_width}}%"/>
                    {% endfor %}
                </colgroup>
                <thead>
                    <tr>
                        {% for field in report_filter_form %}
                        <th>{{field.label}}:</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for field in report_filter_form %}
                        <td>
                            {{field}}
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-lg-4">
            <div style="margin-top: 70px;">
                Just Ctrl-V / Ctrl-C content of html table to google doc <b>or use</b>  <a href="#" id="xls-report" class="btn btn-primary btn-sm"><i class="fa fa-file"></i> {% trans 'XLS report' %}</a>
            </div>
        </div>
    </form>
</div>
<br>
<div id='ajax-spinner' style="display:none; margin:auto;"><i class="fa-4x fa fa-spinner fa-spin"></i></div>
<div id="ajax-content">{{data_content}}</div>
{% endblock %} 


{% block js_extra %} 
{{block.super}}
<script src="{% static 'js/tasks.js' %}"></script>
<script type="text/javascript">
            $( "#xls-report" ).click(function() {
                var user = $( "#report_id select" ).val();
                window.location.href='/?is_report=1&report_users=' + user
            });
            $( "#report_id select" ).change(function() {
                $('#report_id').submit();
            });
            $("#report_id").submit(function() {
                var action = $(this).attr('action');
                var that = $(this);
                $("#ajax-spinner").show();
                $("#ajax-content").html('');
                $.ajax({
                       type: "GET",
                       url: action,
                       data: that.serialize({ 'submit': 'is_report' }),
                       success: function(data)
                       {
                            $("#ajax-spinner").hide();
                            $("#ajax-content").html(data.data_content);
                            $('select').select2();
                       },
                       error: function(data)
                       {
                           console.log('Error!');
                       }
                     });

                return false;
            });
</script>
{% endblock %}

