{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load tasks_tags %}


{% block 'tasks-board' %}class="active"{% endblock %}


{% block content %}
<br>
<div class="row">
    <div class="col-lg-12">
        <form method="GET" action="{% url 'tasks-json' %}" id="tasks_id">
            <h4><i class="fa fa-filter"></i> {% trans 'Filter' %} <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i></button></h4>
            <table class="table table-bordered">
                <colgroup>
                    {% for field in task_filter_form.fields %}
                    <col width="{{task_filter_form.fields|tasks_table_col_width}}%"/>
                    {% endfor %}
                </colgroup>
                <thead>
                    <tr>
                        {% for field in task_filter_form %}
                        <th>{{field.label}}:</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for field in task_filter_form %}
                        <td>
                            {{field}}
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<br>
<div id='ajax-spinner' style="display:none; margin:auto;"><i class="fa-4x fa fa-spinner fa-spin"></i></div>
<div id="ajax-content">{{data_content}}</div>
{% endblock %} 


{% block js_extra %} 
{{block.super}}
<script src="{% static 'js/tasks.js' %}"></script>
<script type="text/javascript">
            $( "#tasks_id select" ).change(function() {
                $('#tasks_id').submit();
            });
            $("#tasks_id").submit(function() {
                var action = $(this).attr('action');
                var that = $(this);
                $("#ajax-spinner").show();
                $("#ajax-content").html('');
                $.ajax({
                       type: "GET",
                       url: action,
                       data: that.serialize(),
                       success: function(data)
                       {
                            $("#ajax-spinner").hide();
                            $("#ajax-content").html(data.data_content);
                            $('select').select2();
                       },
                       error: function(data)
                       {
                           console.log('Error!');
                       }
                     });

                return false;
            });
</script>
{% endblock %}