{% load i18n %}
{% load staticfiles %}
{% load tasks_tags %}

<div id="drag" class="table-responsive">
    <table class="table table-bordered">
        <colgroup>
            <col width="{{statuses|tasks_table_col_width}}%"/>
            {% for status in statuses %}
            <col width="{{statuses|tasks_table_col_width}}%"/>
            {% endfor %}
        </colgroup>
        <thead>
            <tr>
                <th class="mark"></th>
                {% for status in statuses %}
                <th class="mark">{{status}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for type in types %}
            <tr>
                <td class="rowhandler">
                    <div class="rowhandler-type">{{type}}</div>
                </td>
                {% for status in statuses %}
                <td class="{{status}}">
                    {% for task in tasks %}
                    {% if task|check_status:status and task|check_type:type %}
                    <div class="drag" id="{{task.bug_id}}" style="border-color:{{task.get_color}};">
                        <div class="d-header">
                            <div class="d-header-left">
                                <a href="{{task.get_tracker_url}}"><i class="fa fa-pencil-square-o"></i>{{task.task_id}}</a>
                            </div>
                            <div class="d-header-right"> 
                            <i class="fa fa-calendar"></i>{{task.get_short_milestone}}
                            </div>
                        </div>
                        <div class="d-data t-wrap" style="{% if task.is_closed %}text-decoration: line-through;{% endif %}">
                            {{task.get_short_summary}}
                        </div>
                        <div class="d-footer">
                            <div class="d-footer-left t-ext-wrap">
                                {{task.get_short_assigned_to}}
                            </div>
                            <div class="d-footer-right"> 
                                <i class="fa fa-clock-o"></i> {{task.estimated_time}} ({{task.actual_time}})
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>